@model Identity.AppService.ViewModel.Perfil.AdicionarPerfilViewModel

@{
    ViewBag.Title = "Adicionar Perfil";
}

<h3>@ViewBag.Title</h3>

@if (ViewBag.Mensagem != null)
{
    <div class="alert alert-warning">@ViewBag.Mensagem</div>
}

<div>
    <div>
        <form asp-action="AdicionarPerfil" method="post" class="form-horizontal">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.TextBoxFor(x=>x.NomeDoPerfil)</td>
                        <td>@Html.TextBoxFor(x=>x.Descricao)</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-success">Adicionar</button>
        </form>
    </div>
</div>

